html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: Biryani;
    src: url(./assets/biryani/biryani-regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: SourceCodePro;
    src: url(./assets/source_code_pro/sourcecodepro-regular.ttf);
    font-weight: normal;
}
body {
    background-color: #232530;
    font-family: Biryani, sans-serif;
    text-align: center;
}
header {
    color: #FADAD1;
    font-size: 3rem;
    margin: 50px auto 0;
}
footer {
    color: #FADAD1;
    font-size: 0.9rem;
    margin: 50px auto 0;
}
h1 {
    color: #EEDDD9;
    font-size: 3rem;
    font-style: italic;
    text-decoration: underline;
}
h2 {
    color: #E11A64;
    font-size: 12rem;
    margin-top: 25px;
}
h3 {
    color: #EEDDD9;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
}
h4 {
    color: #E11A64;
    font-size: 6rem;
    margin-top: 15px;
}
button {
    background-color: transparent;
    color: #B877DB;
    cursor: pointer;
    font-family: SourceCodePro, monospace;
    font-weight: normal;
}
p.pomodoro-link {
    margin-top: 15px;
}
a {
    color: #484C63;
    position: relative;
    text-decoration: none;
}
a::before {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: #72759C;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}
a:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}
#container {
    align-items: center;
    background-color: #2E303E;
    box-shadow:  0 0 20px 0 #1A1C23;
    display: grid;
    grid-auto-rows: minmax(650px, auto);
    grid-template-columns: 1fr 2fr 1fr;
    height: 650px;
    margin-top: 45px;
    width: 100%;
}
.timer {
    border-left: solid 1px #B877DB;
    border-right: solid 1px #B877DB;
}
.timer-button {
    border: 2px solid #B877DB;
    font-size: 2rem;
    height: 60px;
    margin-top: -1%;
    padding: 0;
    width: 145px;
}
.timer-button:hover {
    border-color: #F5C4B6;
    color: #F5C4B6;
}
.work-break {
    margin: 0 5%;
}
.work-decrement, .break-decrement {
    margin-right: 70px;
}
.op-button {
    border: none;
    color: #B877DB;
    font-size: 4rem;
    line-height: 0;
    margin-top: 5px;
    padding: 0;
}
.op-button:hover {
    color: #f5c4b6;
}
.start-pause:disabled, .work-break:disabled, .op-button:disabled {
    border-color: #B877DB;
    color: #B877DB;
    cursor: default;
    opacity: 0.45;
}